.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  font-family: 'knicknackregular';
  text-transform: uppercase;
  font-size: 1.4375rem;
  color: var(--color-text-light-yellow);
  transition: color var(--home-transition);
}

.main-header__link {
  color: inherit;
  text-decoration: none;
}
