@use '@styles/abstracts/mixings' as mixing;

.dialog {
  position: fixed;
  inset: 0;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  height: 100vh;
  margin: 0;
  padding-inline: 0;
  padding-block-start: 3rem;
  padding-block-end: 0;
  border: 0;
  background: rgb(0 0 0 / 50%);
  backdrop-filter: blur(10px);
}

.dialog--blue {
  background-color: var(--color-blue);
  color: var(--color-white);

  :is(.dialog__title) {
    font-size: clamp(2.1875rem, 0.8448rem + 5.8065vw, 3.3125rem);
    color: var(--color-yellow);
  }
}

.dialog__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 3rem;
}

.dialog__title {
  display: flex;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-family: 'knicknackregular', sans-serif;
  color: var(--color-white);

  @include mixing.breakpoint('x-large') {
    font-size: 2.5rem;
  }
}

.dialog__title--icon-medal {
  &:before {
    width: 2rem;
    aspect-ratio: 1;
    content: '';
    background-image: url('@images/icon-medal.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
}

.dialog__close-button {
  position: absolute;
  width: 3rem;
  aspect-ratio: 1;
  top: 1.5rem;
  right: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  background-image: url('@images/icon-close.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  color: var(--color-white);
  font-size: 3rem;
  line-height: 1;
}

.dialog__footer {
  position: sticky;
  bottom: 0;
  margin-block-start: 2rem;
  padding-block-end: 1rem;
  /* background-color: var(--color-blue); */
}
