@use '@styles/abstracts/mixings' as mixing;

.share-button {
  width: 1.5rem;
  aspect-ratio: 1;
  overflow: hidden;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  border: 0;
  text-transform: inherit;

  @include mixing.breakpoint('large') {
    width: auto;
    aspect-ratio: auto;
  }
}

.share-button__icon {
  @include mixing.breakpoint('large') {
    display: none;
  }
}

.share-button__text {
  @include mixing.sr-only;

  @include mixing.breakpoint('large') {
    position: relative;
    width: auto;
    height: auto;
    clip: auto;
    margin: 0;
  }
}
