:root {
  --color-red: #f05038;
  --color-red--dark: oklch(from var(--color-red) calc(l - 0.07) c h);

  --color-yellow: #ffc233;
  --color-yellow--dark: oklch(from var(--color-yellow) calc(l - 0.07) c h);
  --color-yellow--light: oklch(from var(--color-yellow) calc(l + 0.8) c h);

  --color-green: #ccff33;
  --color-green--dark: oklch(from var(--color-green) calc(l - 0.07) c h);
  --color-green--shadow: oklch(from var(--color-green) l c h / 0.5);

  --color-body-background: var(--color-red);

  --color-blue: #2a60fe;
  --color-blue--dark: oklch(from var(--color-blue) calc(l - 0.07) c h);

  --color-beige: #f8f6eb;

  --home-transition: 0.5s ease-in-out;
  --buttons-shadow: oklch(0 0 0 / 0.28);

  --color-white: #ffffff;
  --color-white--dark: oklch(from var(--color-white) calc(l - 0.07) c h);
  --color-black: #000000;

  --color-text: #000000;
  --color-text-dark: #6b6b67;
  --color-text-primary: #22232c;

  --color-text-light: #8c9aae;
  --color-text-light-yellow: #ffffcc;
}

/// Spacers map
/// @prop {String} keys - The helper spacer class final name, without the spacing value
/// @prop {Map} values - Values are the properties who will receive the spacing value
/// @requires $spacing
$spacer-types: (
  'gap': ('gap'),
  'gap-vertical': ('row-gap'),
  'gap-horizontal': ('column-gap'),

  'margin': ('margin'),
  'margin--horizontal': ('margin-left', 'margin-right'),
  'margin--vertical': ('margin-top', 'margin-bottom'),
  'margin-top': ('margin-top'),
  'margin-right': ('margin-right'),
  'margin-bottom': ('margin-bottom'),
  'margin-left': ('margin-left'),

  'padding': ('padding'),
  'padding--vertical': ('padding-top', padding-bottom),
  'padding--horizontal': ('padding-left', padding-right),
  'padding-top': ('padding-top'),
  'padding-right': ('padding-right'),
  'padding-bottom': ('padding-bottom'),
  'padding-left': ('padding-left'),
);

/// Spacers map
/// @prop {String} keys - The technique name
$techniques: (
  'b1'
  'b2'
  'b3'
  'b4'
);

/// Spacers map
/// @prop {Map} values - Values are actual space values expressed in pixels
$spacing: (0 4 8 12 16 24 32 40 48 80 128 200); // px values


/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'medium': (min-width: 480px),
  'large': (min-width: 768px),
  'x-large': (min-width: 1100px),
  'huge': (min-width: 1280px),
);

