.about-page {
  background: var(--color-yellow--light);
  padding: 2rem 0;
}

.about-page h1,
.about-page h2,
.about-page h3 {
  color: var(--color-red);
  font-size: clamp(1.25rem, 1.0033rem + 1.0667vw, 1.75rem);
}

.about-page p {
  font-size: clamp(1rem, 0.8767rem + 0.5333vw, 1.25rem);
}

.about-page p:has(+ h3) {
  margin-block-end: 4rem;
}

.about-page .supporters-icons {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}
