@use "@styles/abstracts/mixings" as mixing;

// @todo
// I'm not happy with those things here.
// I'll be back to organize it later
html {
  background-color: var(--color-body-background);
}

body {
  background-color: var(--color-body-background);
  transition: background-color var(--home-transition);
}

body:has(.start-quiz-button:hover) {
  background-color: var(--color-yellow);

  .main-header {
    color: var(--color-red);
  }

  .homepage__logo-mask {
    background-color: var(--color-red);
  }

  .homepage__logo figcaption {
    color: var(--color-text-dark);
  }

  .how-to-play-button {
    background-color: var(--color-white);
    color: var(--color-text-dark);
    border-color: var(--color-white--dark);
  }

  .homepage__description {
    color: var(--color-text-dark);
  }
}

.start-quiz-button,
.how-to-play-button {
  transition:
    background-color var(--home-transition),
    border-color var(--home-transition),
    color var(--home-transition);
  box-shadow: 0 20px 45px oklch(0 0 0 / 0.28);
}

.homepage__logo {
  display: grid;
  justify-items: center;
  gap: 0.5rem;
}

.homepage__logo-mask {
  mask-image: url('@images/logo.svg');
  width: 100%;
  background-color: var(--color-yellow);
  max-width: 600px;
  mask-clip: unset;
  mask-size: 100%;
  aspect-ratio: 3.642;
  transition: background-color var(--home-transition);
}

.homepage__logo figcaption {
  font-size: clamp(1.3125rem, 0.9178rem + 1.7068vw, 2.375rem);
  text-transform: uppercase;
  font-family: 'knicknackregular';
  color: var(--color-text-light-yellow);
  transition: color var(--home-transition);
}

.home-content {
  margin-block-start: auto;
  padding-block-end: 2rem;
  text-align: center;
  color: var(--color-text-light-yellow);

  @include mixing.breakpoint("large") {
    margin-block-end: auto;
  }
}

.homepage__description {
  transition: color var(--home-transition);
  @include mixing.breakpoint("large") {
    order: 2;
  }
}

.homepage__buttons {
  display: grid;
  gap: 1.5rem;
  max-width: 45rem;
  margin-inline: auto;

  @include mixing.breakpoint("large") {
    grid-template-columns: 1.5fr 1fr;
  }
}

.homepage__brain-icon {
  margin-block-start: -1.6rem;
}

