@use '@styles/abstracts/mixings' as mixing;
@use '@styles/abstracts/variables' as variables;

.milestone {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5.5rem;
  min-height: 100vh;
  padding-top: 2.5rem;
  text-align: center;
  color: var(--color-white);
}

.milestone__header {
  font-size: 1.5rem;

  @include mixing.breakpoint('x-large') {
    font-size: 1.75rem;
  }
}

.milestone__header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  font-size: inherit;
  color: var(--color-green);

  &:before {
    width: 2.5rem;
    aspect-ratio: 1;
    content: '';
    background-image: url('@images/icon-medal.svg');
  }
}

.milestone__header-description {
  font-family: 'knicknackregular';
  font-size: inherit;
}

.milestone__icon {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin-inline: auto;
  justify-items: end;

  &:before {
    content: "";
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    z-index: 2;
    aspect-ratio: 1;
    border-block-end: 5px solid var(--color-green--dark);
    background-color: var(--color-green);
    background-size: 70% 50%;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0px 8px 20px 0px var(--color-green--shadow);
  }
}

@each $technique in variables.$techniques {
  .milestone__content--#{$technique} .milestone__icon {
    &:before {
      background-image: url('@images/techniques-icons/#{$technique}.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.milestone__icon-image {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 5;
}

.milestone__title {
  font-size: 2rem;
  color: var(--color-green);
  text-transform: uppercase;

  @include mixing.breakpoint('x-large') {
    font-size: 3.5rem;
  }
}

.milestone__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.milestone__footer {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  align-items: flex-end;
  padding-block-end: 2rem;

  @include mixing.breakpoint('x-large') {
    align-items: flex-start;
  }
}
