.quiz-page-body {
  // @todo replace the multiple image workaround
  // with a background-image with transparency
  background-image: linear-gradient(to right, rgba(255,255,255, 0.7) 0 100%), url('@images/chat-bg.svg');
}

.quiz-page__header {
  background-color: var(--color-beige);
  padding: 1.5rem 0;
  box-shadow: 0px 2px 6px #6b6a6729;
}

.quiz-page__header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-text-dark);
}

.quiz-page__wrapper {
  display: grid;
  height: 100vh;
}
