.quiz-page-body {
  background-image: url('@images/i-like-food.svg');
  background-blend-mode: soft-light;
}

.quiz-page__header {
  background-color: var(--color-beige);
  padding: 1.5rem 0;
  box-shadow: 0px 2px 6px #6b6a6729;
}

.quiz-page__header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-text-dark);
}

.quiz-page__wrapper {
  display: grid;
  height: 100vh;
}
